<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACS Spring 2022 - ORGN Division Presentations</title>

    <link rel="stylesheet" href="/styles/index.css" />
    <style>
        .session {
            padding: 12px;
        }

        .presentations {
            padding-left: 24px;
        }

        .presentations dt {
            font-weight: bold;
            list-style-type: circle;
        }

        .presentations dt::before {
            font-weight: bold;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4XJDJBGR1L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4XJDJBGR1L');
    </script>
</head>
<body class="min-h-screen bg-white">
    {%- include './partials/nav.html' -%}
    <h1 class="font-serif text-bold text-xl md:text-2xl lg:text-4xl xl:text-6xl uppercase m-6" style="text-align: center;">
        Schedule for Organic (ORGN) Division Presentations at ACS Spring 2022
    </h1>

    {{ content | safe }}

    <script type="module" src="/scripts/index.js"></script>
</body>
</html>